@charset "UTF-8";

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px 10px;
}

button {
	margin: 5px
}

textarea {
	resize: none;
	width: 500px;
	height: 150px;
}

input[type="text"] {
	width: 100%;
}

img.icon{
	width: 15px;
	height: 15px;
}





















